<!doctype html>
<head>
  <title>Time Stamp</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>
    Hello!<br>Try giving me a date, either in unix or nautral form and I'll show you both.
    <br>FUN! RIGHT!?
  </h1>
  <h1 style="color: yellow; background: rgb(230, 230, 230); display: inline-block;">Shhh....!</h1>
  <h3>
    Sorry.. I got a bit too carried away.. 
    now, try it out yourself.
  </h3>
  <h3>
    Usage example:
  </h3>
  <code> https://time-stamping.glitch.me/YOURDATE</code>
  <script src="client.js" type="text/javascript"></script>
</body>